
projet/debug/

projet/.vs/projet/v16/

projet/.vs/projet/v15/ipch/AutoPCH/fa1fa422400678e4/

*.ipch

projet/.vs/projet/v15/

projet/police/teletactile-font.zip

projet/projet.pro.user

*.sln

*.filters

*.user

projet/release/

projet/projet.vcxproj
